*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    background-color: #02BFB1;
    width: 100%;
    height: 90px;
    padding-top: 15px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
aside{
    width: 30%;
    background-color: #6EDB6E;
    color: white;
    font-size: 24px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: #f99d24;
    color: white;
    font-size: 24px;
    height: 70vh;
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
}
 #img{
display: flex;
margin-top: 90px;
margin-bottom: 20px;
}
.image{
    margin-right: 60px;   
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    background-color: #f0ce60;    
}
